<header>
  <nav class="navbar">
    <div class="navbar-left">
      <app-img [src]="logoSrc" ></app-img>
    </div>
    <div class="navbar-right">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="quienes_somos.html">Quiénes somos</a></li>
        <li><a href="menu.html">Menú</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="carrito.html">Carrito</a></li>
      </ul>
    </div>
  </nav>
</header>
